@import url(http://fonts.googleapis.com/css?family=Inder|Quattrocento);

#home {
  font-family: 'Inder', sans-serif;
}

@media (min-width: 768px) {
  #home {
    max-width: 730px;
    margin: 20px auto 0;
  }
}

@media (max-width: 767px) {
  #home {
    text-align: center;
  }
}

#home h1 {
  text-shadow: 1px 0 2px #aaa;
}

#home a {
  color: #d11919;
}

#home a:hover {
  color: #921212;
}

#home p {
  font-family: 'Quattrocento', serif;
  color: #666;
}

#home img {
  width: 200px;
  display: block;
  margin: 0 auto;
  border-radius: 50%;
  margin-bottom: 20px;
}

#home ul {
  padding-left: 0;
  list-style: none;
  font-size: 16px;
}
