@import url("https://fonts.googleapis.com/css?family=Inder|Quattrocento");

$bg-color: #000;
$body-color: #ddd;
$paragraph-color: #999;
$link-color: #d11919;
$link-color-hover: #921212;
$heading-shadow-color: #333;
$image-border-color: #333;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  background-color: $bg-color;
  font-family: 'Inder', sans-serif;
  color: $body-color;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  padding: 20px;
}

h1 {
  font-size: 28px;
  margin: 0 0 20px;
  font-weight: 500;
  text-shadow: 1px 0 2px $heading-shadow-color;
}

p {
  font-family: 'Quattrocento', serif;
  color: $paragraph-color;
  font-size: 18px;
  margin: 0 0 20px;
  font-weight: 200;
  max-width: 650px;
  display: inline-block;
}

a, a:visited {
  color: $link-color;
  text-decoration: none;

  &:hover {
    color: $link-color-hover;
  }
}

img {
  width: 200px;
  display: block;
  border-radius: 50%;
  margin: 0 auto 20px;
  padding: 4px;
  line-height: 1.42857143;
  background-color: $bg-color;
  border: 1px solid $image-border-color;
  transition: all .2s ease-in-out;
}

ul {
  list-style: none;
  font-size: 16px;
}
