---
layout: base
title: Volmer Campos Soares
eleventyExcludeFromCollections: true
---

<div class="columns">
  <div class="column is-one-quarter">
    <div class="content has-text-centered">
      <figure class="image">
        <img src="/images/volmer.jpg" class="is-rounded" alt="Volmer smiles for the camera" >
      </figure>
    </div>
  </div>

  <div class="column">
    <div class="content">
      <p>
        Hello, internet! My name is Volmer. I play music, write stuff on occasion
        and do software development for a living. Currently enjoying life in
        Montreal, Canada.
      </p>

      <h2 class="title is-3">I wrote about...</h2>

      {% set articles = collections.en %}
      {% include "articles.njk" %}
    </div>
  </div>
</div>
