---
layout: base
title: Volmerius
eleventyExcludeFromCollections: true
---

<section class="hero">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title is-1 rails-title is-uppercase">Volmer's Rails Guide</h1>
      <p class="subtitle">A sustainable architecture for Ruby on Rails</p>
    </div>
  </div>
</section>

<div class="content is-large">
  <p>
    This guide offers patterns and guidelines for <strong>sustainable</strong>
    development with Ruby on Rails.
  </p>

  <p>
    Beyond the standard MVC, it aids fast-growing teams build software that is
    <strong>easy to change</strong> and expand by introducing new layers to your
    app such as Repositories, Actions, and Inputs.
  </p>

  <p>
    By applying this guide, you will have <strong>small objects</strong> that
    collaborate to each other, each with
    <strong>single responsibilities</strong>, leading to code that is more
    organized and easier to understand and test.
  </p>
</div>

<div class="buttons is-centered">
  <a class="button is-primary is-large" href="/rails/introduction">
    Introduction
  </a>
</div>
