---
layout: base
title: Volmerius
eleventyExcludeFromCollections: true
---

<div class="columns">
  <div class="column is-one-quarter">
    <div class="content has-text-centered">
      <figure class="image">
        <img src="/images/volmer.jpg" class="is-rounded" alt="Volmer contemplating the infinity of the universe" >
      </figure>
    </div>
  </div>

  <div class="column">
    <div class="content">
      {% set articles = collections.all %}
      {% include "articles.njk" %}
    </div>
  </div>
</div>
