---
layout: base
title: In Portuguese
tags: pt
eleventyExcludeFromCollections: true
---

<div class="content">
  <h2 class="title is-2">In Portuguese</h2>

  {% set articles = collections.pt %}
  {% include "articles.njk" %}
</div>
