---
layout: base
permalink: "/{{page.fileSlug}}/"
---

<div class="content">
  <h2 class="title is-2">{{ title }}</h2>

  <p class="is-size-7 is-uppercase has-text-grey">
    {{ page.date.toLocaleString('en', { dateStyle: "long", timeZone: 'America/Montreal' } ) }}
  </p>

  {% if image %}
    <figure class="article-image">
      <img src="/images/articles/{{ image }}" alt="{{ image_alt }}">
    </figure>
  {% endif %}

  {{ content | safe }}
</div>
