<!DOCTYPE html>
<html>
  <head>
    {% include "head.njk" %}
  </head>

  <body>
    <section class="section">
      <div class="container">
        {% include "header.njk" %}

        {{ content | safe }}

        {% include "footer.html" %}
      </div>
    </section>
  </body>
</html>
