<!DOCTYPE html>
<html lang="{{ 'pt' if 'pt' in tags else 'en' }}">
  <head>
    {% include "head.njk" %}
  </head>

  <body>
    <section class="section">
      <div class="container">
        {% include "header.njk" %}

        {{ content | safe }}

        {% include "footer.html" %}
      </div>
    </section>
  </body>
</html>
