<footer class="footer">
  <div class="content has-text-centered">
    <p>
      <a href="https://twitter.com/volmerius" target="_blank" rel="noopener" title="Twitter" class="mr-4">
        <span class="icon is-medium">
          <i class="fab fa-2x fa-twitter"></i>
        </span>
      </a>

      <a href="https://github.com/volmer" target="_blank" rel="noopener" title="GitHub" class="mr-4">
        <span class="icon is-medium">
          <i class="fab fa-2x fa-github"></i>
        </span>
      </a>

      <a href="https://instagram.com/volmerius" target="_blank" rel="noopener" title="Instagram">
        <span class="icon is-medium">
          <i class="fab fa-2x fa-instagram"></i>
        </span>
      </a>
    </p>
  </div>

  <div class="content has-text-centered is-small">
    <p>Copyright © 2021 Volmer Campos Soares</p>
  </div>
</footer>
