<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{ title }}</title>
<meta name="description" content="{{ page.excerpt or pkg.description }}">
<meta name="author" content="{{ pkg.author }}">

<meta property="og:image" content="{{ pkg.homepage }}/images/{{ image or 'volmer.jpg' }}" />

<link rel="stylesheet" href="/css/main.css">

<link rel="icon" href="/images/volmer.ico" sizes="any">
<link rel="icon" href="/images/volmer.svg" type="image/svg+xml">

<script async src="https://www.googletagmanager.com/gtag/js?id=G-KJM1NP2BYC"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-KJM1NP2BYC');
</script>
