<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{ title }}</title>
<meta name="description" content="{{ page.excerpt or pkg.description }}">
<meta name="author" content="{{ pkg.author }}">

<meta property="og:image" content="{{ pkg.homepage }}/images/{{ image or 'volmer.jpg' }}" />

<link rel="stylesheet" href="/css/main.css">

<link rel="icon" href="/images/volmer.ico" sizes="any">
<link rel="icon" href="/images/volmer.svg" type="image/svg+xml">

<script async src="https://www.googletagmanager.com/gtag/js?id=G-KJM1NP2BYC"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-KJM1NP2BYC');
</script>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    // Get all "navbar-burger" elements
    const $navbarBurgers = Array.prototype.slice.call(
      document.querySelectorAll('.navbar-burger'), 0
    );

    // Add a click event on each of them
    $navbarBurgers.forEach( el => {
      el.addEventListener('click', () => {
        // Get the target from the "data-target" attribute
        const target = el.dataset.target;
        const $target = document.getElementById(target);

        // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
        el.classList.toggle('is-active');
        $target.classList.toggle('is-active');
      });
    });
  });
</script>
