<h1 class="title is-1 has-text-centered">Volmer Campos Soares</h1>

<div class="tabs is-centered">
  <ul>
    <li {% if page.fileSlug == "" %}class="is-active"{% endif %}>
      <a href="/">About</a>
    </li>
    <li {% if page.fileSlug == "pt" %}class="is-active"{% endif %}>
      <a href="/pt">In Portuguese</a>
    </li>
  </ul>
</div>
