<footer id="sticky-footer">
  <div class="container">
    <ul class="list-inline text-center">
      <li><%= link_to 'Twitter', 'http://twitter.com/volmerius', target: '_blank' %></li>
    </ul>
  </div>
</footer>
