#page-content {
  section#presentation {
    margin-bottom: 30px;

    img {
      transition: all .5s ease-in-out;
      opacity: 0.6;
    }

    img:hover {
      opacity: 1;
    }
  }

  #links {
    section {
      background-color: #333;
      margin-bottom: 20px;
      padding: 10px;
      border-top-left-radius: 7px;
      border-bottom-right-radius: 7px;
      border: 1px solid #222;
      box-shadow: inset -1px -1px 4px #222;

      h1 {
        font-weight: normal;
        font-family: 'Denk One', sans-serif;
        font-size: 28px;
        text-align: center;
        margin: 0 0 10px;
        text-shadow: 0 2px 2px #111;
      }

      li {
        line-height: 24px;

        a {
          font-size: 20px;
          text-shadow: 0 2px 1px #222;
        }

        a:hover {
          background-color: #444;
        }
      }
    }
  }
}