#sale {
  .price {
    font-size: 23px;
    color: #777;
  }

  .panel-title {
    font-size: 21px;
    color: #428bca;
  }

  .jumbotron {
    margin-top: 20px;
    background-color: #eee;
  }

  body {
    font-size: 16px;
  }

  .dl-horizontal {
    dt {
      width: 130px;
      text-align: left;
    }

    dd {
      margin-left: 140px;
    }
  }


  .merchandise-image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-shadow: none;
    height: 200px;
    transition: all .5s ease-in-out;
    display: block;
  }

  .merchandise-image:hover {
    box-shadow: 0 0 30px #333;
  }

  .modal img {
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
