.price {
  font-size: 23px;
  color: #777;
}

.panel-title {
  font-size: 21px;
  color: #428bca;
}

.jumbotron {
  background-color: inherit;
}

body {
  font-size: 16px;
}

.dl-horizontal {
  dt {
    width: 130px;
    text-align: left;
  }

  dd {
    margin-left: 140px;
  }
}
